name: Rust Clippy

on: [push]

env:
    CARGO_TERM_COLOR: always

jobs:
  run_clippy:
    name: Run Clippy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        profile: [dev, release]

    steps:
      - uses: actions/checkout@v6
      - name: Clippy
        run: cargo clippy --profile ${{ matrix.profile }} --all --tests -- -D warnings

